*{
    box-sizing:border-box;
    margin-top:0;

}
body{
    background-color: #F5F5F5;
    margin:0px;
    font-family:Verdana,Georgia,serif;
    font-size:1.2em;
}
section#heading{
    background-color: green;
    padding-top: .25rem;
    padding-bottom: .25rem;
    position: fixed;
    z-index: 100;
    top:0px;
    width:100%;
   
    
}
main{
    display:block;
    align-content: center;
}
#billboard{
    min-height: 60vh;
    margin:0;
    height:15%;
    background-image: url("landscape.jpg");
    background-size:100% 850px;
    background-repeat: no-repeat;
    background-position:right bottom;
    

}
#greetings-background{
    background-color:rgba(174,208,158,.6);
    width:30%;
    min-height:60vh;
    display:block;
    padding:20eml;
    margin-top: 4rem;
  
  
}
#greetings h1{
    font-size:120%;
    
}

#values{
    padding:10px;
    display:inline-flex;
    margin:0;
    min-height:7vh;
    width:100%;
    background:#282525;
  
    
   
}
.ideal > h1{
    color:white;
    text-align: center;
}

.ideal{
    
    display:inline-flex;
    width:24%;
    height:7vh;
    margin:0;
   
    
   

}
.ideal-image{
    border:2px solid white;
    border-radius:10px;
    display:inline-flex;
    height:5vh;

}

#about{
    margin:0px;
    text-align:center;
}
 
.carousel{
    position:relative;
    align-items: center;
    align-content: center ;
    justify-content: center;

}
.carousel_photo{
    width:40vh;
    height:40vh;
    padding:1em;
    font-weight:bold;
    font-size: 2em;
    margin-left:auto;
    margin-right:auto;
    display:none;
 
    
}
.carousel_photo img{
    width: 100%;
    height: 97%;
    margin-left:auto;
    margin-right:auto;
    display:block;
   
}
 
.carousel_photo-selected{
    display:block;
}

.carousel_nav{
    width:100%;
    padding:20px 0;
    position:absolute;
    left:0;
    bottom:0;
    text-align:center;
}
.carousel_button{
    width:10px;
    height:10px;
    display:inline-block;
    background:rgba(13, 83, 34, 0.521);
    border-radius:50%;
    margin:0 5px;
    cursor: pointer;
    

}
.carousel_button-selected{
    background:rgba(24, 212, 65, 0.2);
}


#reviews{
    
    background-image: url("");
    background-size:100%;
    height:40vh;
    position:relative;
    padding:20px;
}
.review-container{
    border:2px solid blue;
    display:flex;
    justify-content: center;
}
.contact-container{ 
    border:2px solid green;
   
    height:100%;
    padding:1rem;

}
.review-content{
    border:2px solid red;
    
    padding: 1rem;
    
    

}
#footer{
    background:violet;
}