/* .black { 
	background:  ; 
}
	
.dark green { 
	background: #3a7563; 
}

.green { 
	background: #59a985; 
}

.tan { 
	background: #e6d3a7; 
   
.white-grey { 
        background: #f1f2eb; 
    }
    */
*{
    box-sizing:border-box;
    margin-top:0;
    

}
a{
    text-decoration: none;
    color:#392f2f;
    font-weight: 1000;
}
body{
    background-color: #F5F5F5;
    margin:0px;
    font-family:Verdana,Georgia,serif;
    font-size:1.2em;
}
main{
    display:block;
    align-content: center;
}
#navigation{
    background-color:  #f1f2eb;
    color:;
    font-family: 'Chakra Petch', sans-serif;
    display:flex;
    height:10vh;
}
.companylogo{
    width:30%;
}
.companylogo img{
    height:100%;
    width:100%;
    object-fit: fill;
}
.links{
    flex-wrap:wrap;
    width:60%;
    display:flex;
    align-self: center;
    gap:5%;
}
.quickcontact{
    display:flex;
    width:10%;
    justify-content: center;
    align-items: center;

}

#billboard{
    min-height: 40vh;
    margin:0;
    height:15%;
    background-image: url("landscape.png");
    background-repeat: no-repeat;
   
   
    display:flex;
    

}
.greetings-background{
    background-color:#392f2fc7; 
    color:#e6d3a7;
    width:40%;
    display:flex;
    justify-content: center;
}
.greetings h1{
    font-size:40px;
    font-family: 'Archivo Black', sans-serif;
    
}

#values{
    display:flex;
    justify-content: flex-end;
    padding:10px;
    margin:0;
    height:10vh;
    width:100%;
    background:#3a7563;
  
    
   
}
.ideal{
    display:flex;
    flex:1 1 0;
    
}
.ideal-text{
    font-size: 1.5em;
    color:white;
    text-align: center;
}
.ideal-image{
    width:100px;
}

.ideal-image img {
    max-height:90px;
    border-radius:10px;
}

#about{
    text-align:center;
    background:#3a7563;
}
 
.carousel{
    background:#3a7563;
    position:relative;
    align-items: center;
    align-content: center ;
    justify-content: center;

}
.carousel_photo{
    width:40vh;
    height:40vh;
    padding:1em;
    font-weight:bold;
    font-size: 2em;
    margin-left:auto;
    margin-right:auto;
    display:none;
 
    
}
.carousel_photo img{
    width: 100%;
    height: 97%;
    margin-left:auto;
    margin-right:auto;
    display:block;
   
}
 
.carousel_photo-selected{
    display:block;
}

.carousel_nav{
    width:100%;
    padding:20px 0;
    position:absolute;
    left:0;
    bottom:0;
    text-align:center;
}
.carousel_button{
    width:10px;
    height:10px;
    display:inline-block;
    background:rgb(235, 241, 237);
    border-radius:50%;
    margin:0 5px;
    cursor: pointer;
    

}
.carousel_button-selected{
    background:rgb(30, 255, 0);
}


#reviews{
    
    background-image: url("");
    background-size:100%;
    height:40vh;
    position:relative;
    padding:20px;
}
.review-container{
    border:2px solid blue;
    display:flex;
    justify-content: center;
}
.contact-container{ 
    border:2px solid green;
   
    height:100%;
    padding:1rem;

}
.review-content{
    border:2px solid red;
    
    padding: 1rem;
    
    

}
#footer{
    background:violet;
}